body{
    height:100%;
    background-color:#f6f5f5;
    margin:0px;
    padding:0px;
    font-family: "myriad-pro";
}

.pic{
    width:180px;
    padding: 16px;
}

.pic img{
    width:100%;
    height:auto;
}
.hero{
    height: 250px;
    background-image: url(img/6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container2{
    width: 75%;
    overflow: hidden;
    background-color: #719fb0;
    margin: 0px auto 20px auto;
    padding: 0% 20%;

}

.container2 ul{
    padding: 0px;
    margin: 0px;
}

.container2 ul li{
    list-style: none;
    float: left;
    width: 20%; 
    height: 300px;
    background-color:#351f39;
    margin: 40px 20px 0px 40px;
}

.container2 .title{
    width: 100%;
    height:50px;
    color: #ffffff;
    text-align: center;

}

.container2 ul li .title:hover{
   color:gray;

}

.container2 ul li:hover{
    opacity:0.9;
}

@media screen and (max-width:1250px) {
    .container ul li{
        width:40%;
        margin-left: 60px;

    }
    
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
section{
    width:100%;
    height:95vh;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}


nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:80px;
    background-color: #726a95;
    box-shadow:2 px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    font-family: myriad pro regular;
    color:#FFFFFF;
    font-size:15px;
    font-weight:700;
}

.button{
    align-items:center;
}

.main-image{
    width:
}

.active{
    font-weight:bold;
    color:#2d2a2a#ffffff;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    font-family: "myriad-pro";
}

.row{
    margin-left: 0px 20px;
    margin-right: 0px 20px;
}

.global{
    padding: 50px;
    color: #f0f9ff;
    margin-top: 80px;
    background-color: #2d2a2a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.global .curve{
    position: absolute;
    background:#000;
    opacity: 0.2;
    width: 90%;
    height: 38%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.global h1{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.global ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}

.global ul a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.global ul a:hover{
    opacity: 0.8;
    color: #eee;

}

.global .social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}

.global .copyright{
    text-align: center;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}

@media (max-width: 767px) {

    .global .curve{
        left: 5%;
        height: 70%;
    }
    
    .global h1{
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .global ul{
        text-align: center;
    }

    .col-sm-6 col-md-2{
        text-align: right;
    }
    }
}