body{
    height:100%;
    background-color:#f6f5f5;
    margin:0px;
    padding:0px;
}

.pic{
    width:180px;
    padding: 16px;
}

.pic img{
    width:100%;
    height:auto;
}
.hero{
    height: 250px;
    background-image: url(img/6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container2{
    width: 75%;
    overflow: hidden;
    background-color: #719fb0;
    margin: 0px auto 20px auto;
    padding: 0% 20%;

}

.container2 ul{
    padding: 0px;
    margin: 0px;
}

.container2 ul li{
    list-style: none;
    float: left;
    width: 20%; 
    height: 300px;
    background-color:#351f39;
    margin: 40px 20px 0px 40px;
}

.container2 .title{
    width: 100%;
    height:50px;
    color: #ffffff;
    text-align: center;

}

.container2 ul li .title:hover{
   color:gray;

}

.container2 ul li:hover{
    opacity:0.9;
}

@media screen and (max-width:1250px) {
    .container ul li{
        width:40%;
        margin-left: 60px;

    }
    
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
section{
    width:100%;
    height:95vh;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}


nav{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    height:80px;
    background-color: #726a95;
    box-shadow:2 px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    font-family: myriad pro regular;
    color:#FFFFFF;
    font-size:15px;
    font-weight:700;
}




.logo img{
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;

}


.main-image{
    width:
}

.active{
    font-weight:bold;
    color:#2d2a2a#ffffff;
}

