body{
    height:100%;
    background-color:#f6f5f5;
    margin:0px;
    padding:0px;
    font-family: "myriad-pro";
}

.pic{
    width:180px;
    padding: 16px;
}

.pic img{
    width:100%;
    height:auto;
}
.hero{
    height: 250px;
    background-image: url(img/6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container2{
    width: 75%;
    overflow: hidden;
    background-color: #719fb0;
    margin: 0px auto;
    padding: 0% 20% 20px 20%;

}

.profile{
    display:flex;
    padding-top: 20px;
}

.container7{
    width: 75%;
    margin: 0px auto;
    padding: 0% 20% 20px 20%;

}
.container2 ul{
    padding: 0px;
    margin: 0px;
}

.container2 ul li{
    list-style: none;
    float: left;
    width: 20%; 
    height: 300px;
    background-color:#351f39;
    margin: 40px 20px 0px 40px;
}

.container2 .title{
    width: 100%;
    height:50px;
    color: #ffffff;
    text-align: center;

}

.container2 ul li .title:hover{
   color:gray;

}

.container2 ul li:hover{
    opacity:0.9;
}


.cbuttons1{
    margin-top:3px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:2px;
    border-radius: 20px;
}
.cbuttons1{
    width:100px;
    background-color: #351f39;
    border-radius: 5px;
}

.cbuttons{
    margin-top:3px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:2px;
    border-radius: 20px;
}
.cbuttons{
    width:100px;
    background-color: gray;
    border-radius: 5px;
}
.left-side .primary-btn1{
    display:inline-flex;
    background-color:#351f39;
    color: white;
    font-size: 12px;
    padding: 12px 8px;
}

.left .primary-btn{
    display:inline-flex;
    background-color:gray;
    color: white;
    font-size: 12px;
    padding: 12px 8px;
}

.cont{
    margin: 0px auto;
    display:flex;
}
.card-desc{
    width:50%;
    padding: 20px;
    background-color: #351f39;
    text-align:center;
    border-radius: 8px;
    line-height:20px;
    color:white;
}

.subheading{
    background-color:#351f39;
    padding:20px;
    text-align:center;
    border-radius:8px;
    line-height:20px;
    color:white;
}

.right{
    background-color: #351f39;
    padding:30px;
    text-align:center;
    border-radius:8px;
    line-height:20px;
    color:white;
    margin-top: 20px;
    margin-left: 20px;

}
.picture{
    width:220px;
    padding: 0px 20px 20px 0px;
}

.picture img{
    width:100%;
    height:auto;
}


#about{
    padding: 20px;
    background-color:#719fb0;
}


.wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.left{
    padding:20px;
    text-align:center;
    background-color: #351f39;
}

.left-side{
    padding:20px;
    text-align:center;
    background-color: #719fb0;
}
.left .card{
    box-shadow: 0px 0px 20px #4705fc33;
    padding:3rem;
    border-radius: 12px;
    min-height: 400px;
}

.left .card .img{
    width:70px;
    height:70px;
    margin: 0 auto;
    overflow:hidden;
    border-radius: 50%;
}
@media screen and (max-width:1250px) {
    .container ul li{
        width:40%;
        margin-left: 60px;

}



}

.title a{
    color:#ffffff;
}

.title a:hover{
    color:aquamarine;

}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
section{
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}


nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:80px;
    background-color: #726a95;
    box-shadow:2 px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    font-family: myriad pro regular;
    color:#FFFFFF;
    font-size:15px;
    font-weight:700;
}

.button{
    align-items:center;
}

.main-image{
    width:
}

.active{
    font-weight:bold;
    color:#2d2a2a#ffffff;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    font-family: "myriad-pro";
}

.row{
    margin-left: 0px 20px;
    margin-right: 0px 20px;
}

.global{
    padding: 50px;
    color: #f0f9ff;
    background-color: #2d2a2a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.global .container{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;

}

.global h1{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.global ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}

.global ul a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.global ul a:hover{
    opacity: 0.8;
    color: #eee;

}
.social{
    display:flex;

}

.social li{
    padding-right: 8px;
}
.global .social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}

.global .copyright{
    text-align: center;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}

@media (max-width: 767px) {

    .global .curve{
        left: 5%;
        height: 70%;
    }
    
    .global h1{
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .global ul{
        text-align: center;
    }

    .col-sm-6 col-md-2{
        text-align: right;
    }
    }
}